@{
    ViewBag.Title = "CreateScoreBoard";
}

<h2>CreateScoreBoard</h2>
<!-- Container Part Start Here -->
<div class="containerMain">
    <div class="container">
        <!-- Left Container Part Start Here -->
        <!-- Left Container Part End Here -->
        <div class="containerRight col-md-9">
            <div class="rca-batting-score rca-padding">
                <div class="cb-title">
                    <h2>Bangladesh <span class="pull-right">166-5&nbsp;(24)</span></h2>
                </div>


                <div class="cb-bg-gray">
                    <div class="col-sm-7 text-bold">Batsman</div>

                    <div class="col-sm-1">R</div>
                    <div class="col-sm-1">B</div>
                    <div class="col-sm-1">4s</div>
                    <div class="col-sm-1">6s</div>
                    <div class="col-sm-1">SR</div>
                </div>


                <div class="cb-player">
                    <div class="col-sm-3 text-bold"><input type="text" value="Soumya Sarkar" /></div>
                    <div class="col-sm-4 text-bold"><span class="text-gray"> <input type="text" value="c Khawaja b Agar" />  </span></div>
                    <div class="col-sm-1"><input type="text" value="15" /></div>
                    <div class="col-sm-1"><input type="text" value="53" /></div>
                    <div class="col-sm-1"><input type="text" value="3" /></div>
                    <div class="col-sm-1"><input type="text" value="0" /></div>
                    <div class="col-sm-1"><input type="text" value="29.30" /></div>
                </div>

                <div class="cb-player">
                    <div class="col-sm-3 text-bold"><input type="text" value="Tamim Iqbal" /></div>
                    <div class="col-sm-4 text-bold"><span class="text-gray"><input type="text" value="c Khawaja b Agar" /></span></div>
                    <div class="col-sm-1"><input type="text" value="56" /></div>
                    <div class="col-sm-1"><input type="text" value="65" /></div>
                    <div class="col-sm-1"><input type="text" value="5" /></div>
                    <div class="col-sm-1"><input type="text" value="0" /></div>
                    <div class="col-sm-1"><input type="text" value="32.30" /></div>
                </div>


                <div class="cb-player">
                    <div class="col-sm-3 text-bold"><input type="text" value="Taijul Islam" /></div>
                    <div class="col-sm-4 text-bold"><span class="text-gray"><input type="text" value="lbw Lyon" /> </span></div>
                    <div class="col-sm-1"><input type="text" value="25" /></div>
                    <div class="col-sm-1"><input type="text" value="32" /></div>
                    <div class="col-sm-1"><input type="text" value="2" /></div>
                    <div class="col-sm-1"><input type="text" value="1" /></div>
                    <div class="col-sm-1"><input type="text" value="38.30" /></div>
                </div>

                <div class="cb-player">
                    <div class="col-sm-3 text-bold"><input type="text" value="Imrul Kayes" /></div>
                    <div class="col-sm-4 text-bold"><span class="text-gray"><input type="text" value="c Khawaja b Agar" /></span></div>
                    <div class="col-sm-1"><input type="text" value="15" /></div>
                    <div class="col-sm-1"><input type="text" value="53" /></div>
                    <div class="col-sm-1"><input type="text" value="3" /></div>
                    <div class="col-sm-1"><input type="text" value="0" /></div>
                    <div class="col-sm-1"><input type="text" value="29.30" /></div>
                </div>


                <div class="cb-extras">
                    <div class="col-sm-7 text-bold">Extras</div>


                    <div class="col-sm-5"> <b>15</b>(b 11, lb 3, w 1, nb 0, p 0)</div>

                </div>

                <div class="cb-total">
                    <div class="col-sm-7 text-bold">Total</div>


                    <div class="col-sm-5"> <b>166</b>  (5 wkts, 61 Ov)</div>

                </div>

                <div class="cb-total">
                    <div class="col-sm-7 text-bold">Yet to Bat</div>


                    <div class="col-sm-5">  Nasir Hossain, Mehidy Hasan, Mustafizur, Shafiul </div>

                </div>

                <div class="cb-bg-gray">
                    <div class="col-sm-7 text-bold">Fall of Wickets</div>


                </div>


                <div class="cb-detail">43-1 (<a href="http://www.cricbuzz.com/profiles/8233/soumya-sarkar" title="View profile of Soumya Sarkar" class="cb-text-link">Soumya Sarkar</a>, 20.1),&nbsp;61-2 (<a href="http://www.cricbuzz.com/profiles/8253/taijul-islam" title="View profile of Taijul Islam" class="cb-text-link">Taijul Islam</a>, 27.1),&nbsp;67-3 (<a href="http://www.cricbuzz.com/profiles/1583/imrul-kayes" title="View profile of Imrul Kayes" class="cb-text-link">Imrul Kayes</a>, 33.2),&nbsp;135-4 (<a href="http://www.cricbuzz.com/profiles/612/tamim-iqbal" title="View profile of Tamim Iqbal" class="cb-text-link">Tamim Iqbal</a>, 52.1),&nbsp;143-5 (<a href="http://www.cricbuzz.com/profiles/544/shakib-al-hasan" title="View profile of Shakib Al Hasan" class="cb-text-link">Shakib Al Hasan</a>, 55.5)</div>



                <div class="cb-bg-gray">
                    <div class="col-sm-5 text-bold">Bowler</div>

                    <div class="col-sm-1">O</div>
                    <div class="col-sm-1">M</div>
                    <div class="col-sm-1">R</div>
                    <div class="col-sm-1"><b>W</b></div>
                    <div class="col-sm-1">NB</div>
                    <div class="col-sm-1">WD</div>
                    <div class="col-sm-1">ECO</div>
                </div>


                <div class="cb-player">
                    <div class="col-sm-5 text-bold"><input type="text" value="Josh Hazelwood"></div>
                    <div class="col-sm-1 text-bold"><span class="text-gray"><input type="text" value="4.1" /></span></div>
                    <div class="col-sm-1"><input type="text" value="2" /></div>
                    <div class="col-sm-1"><input type="text" value="3" /></div>
                    <div class="col-sm-1"><b><input type="text" value="0" /></b></div>
                    <div class="col-sm-1"><input type="text" value="0" /></div>
                    <div class="col-sm-1"><input type="text" value="0" /></div>
                    <div class="col-sm-1"><input type="text" value="4.1" /></div>
                </div>

                <div class="cb-player">
                    <div class="col-sm-5 text-bold"><input type="text" value="Nathon Lyon"></div>
                    <div class="col-sm-1 text-bold"><span class="text-gray"><input type="text" value="14" /></span></div>
                    <div class="col-sm-1"><input type="text" value="2" /></div>
                    <div class="col-sm-1"><input type="text" value="3" /></div>
                    <div class="col-sm-1"><b><input type="text" value="3" /></b></div>
                    <div class="col-sm-1"><input type="text" value="0" /></div>
                    <div class="col-sm-1"><input type="text" value="0" /></div>
                    <div class="col-sm-1"><input type="text" value="4.1" /></div>
                </div>

                <div class="cb-player">
                    <div class="col-sm-5 text-bold"><input type="text" value="Pat Cummins"></div>
                    <div class="col-sm-1 text-bold"><span class="text-gray"><input type="text" value="4.1" /></span></div>
                    <div class="col-sm-1"><input type="text" value="2" /></div>
                    <div class="col-sm-1"><input type="text" value="3" /></div>
                    <div class="col-sm-1"><b><input type="text" value="0" /></b></div>
                    <div class="col-sm-1"><input type="text" value="0" /></div>
                    <div class="col-sm-1"><input type="text" value="0" /></div>
                    <div class="col-sm-1"><input type="text" value="4.1" /></div>
                </div>


            </div>

            <!--------------Second Innings----------------------->


            <div class="rca-batting-score rca-padding">
                <div class="cb-title">
                    <h2>Australia <span class="pull-right">279-8&nbsp;(50)</span></h2>
                </div>


                <div class="cb-bg-gray">
                    <div class="col-sm-7 text-bold">Batsman</div>

                    <div class="col-sm-1">R</div>
                    <div class="col-sm-1">B</div>
                    <div class="col-sm-1">4s</div>
                    <div class="col-sm-1">6s</div>
                    <div class="col-sm-1">SR</div>
                </div>


                <div class="cb-player">
                    <div class="col-sm-3 text-bold"><input type="text" value="David Warner" /></div>
                    <div class="col-sm-4 text-bold"><span class="text-gray"> <input type="text" value="c Khawaja b Agar" />  </span></div>
                    <div class="col-sm-1"><input type="text" value="15" /></div>
                    <div class="col-sm-1"><input type="text" value="53" /></div>
                    <div class="col-sm-1"><input type="text" value="3" /></div>
                    <div class="col-sm-1"><input type="text" value="0" /></div>
                    <div class="col-sm-1"><input type="text" value="29.30" /></div>
                </div>

                <div class="cb-player">
                    <div class="col-sm-3 text-bold"><input type="text" value="Matt Renshaw" /></div>
                    <div class="col-sm-4 text-bold"><span class="text-gray"> <input type="text" value="c Khawaja b Agar" />  </span></div>
                    <div class="col-sm-1"><input type="text" value="15" /></div>
                    <div class="col-sm-1"><input type="text" value="53" /></div>
                    <div class="col-sm-1"><input type="text" value="3" /></div>
                    <div class="col-sm-1"><input type="text" value="0" /></div>
                    <div class="col-sm-1"><input type="text" value="29.30" /></div>
                </div>


                <div class="cb-player">
                    <div class="col-sm-3 text-bold"><input type="text" value="Usman Khwaja" /></div>
                    <div class="col-sm-4 text-bold"><span class="text-gray"> <input type="text" value="c Khawaja b Agar" />  </span></div>
                    <div class="col-sm-1"><input type="text" value="15" /></div>
                    <div class="col-sm-1"><input type="text" value="53" /></div>
                    <div class="col-sm-1"><input type="text" value="3" /></div>
                    <div class="col-sm-1"><input type="text" value="0" /></div>
                    <div class="col-sm-1"><input type="text" value="29.30" /></div>
                </div>

                <div class="cb-player">
                    <div class="col-sm-3 text-bold"><input type="text" value="Matt Renshaw" /></div>
                    <div class="col-sm-4 text-bold"><span class="text-gray"> <input type="text" value="c Khawaja b Agar" />  </span></div>
                    <div class="col-sm-1"><input type="text" value="15" /></div>
                    <div class="col-sm-1"><input type="text" value="53" /></div>
                    <div class="col-sm-1"><input type="text" value="3" /></div>
                    <div class="col-sm-1"><input type="text" value="0" /></div>
                    <div class="col-sm-1"><input type="text" value="29.30" /></div>
                </div>


                <div class="cb-extras">
                    <div class="col-sm-7 text-bold">Extras</div>


                    <div class="col-sm-5"> <b>15</b>(b 11, lb 3, w 1, nb 0, p 0)</div>

                </div>

                <div class="cb-total">
                    <div class="col-sm-7 text-bold">Total</div>


                    <div class="col-sm-5"> <b>166</b>  (5 wkts, 61 Ov)</div>

                </div>

                <div class="cb-total">
                    <div class="col-sm-7 text-bold">Yet to Bat</div>


                    <div class="col-sm-5">  Nasir Hossain, Mehidy Hasan, Mustafizur, Shafiul </div>

                </div>

                <div class="cb-bg-gray">
                    <div class="col-sm-7 text-bold">Fall of Wickets</div>


                </div>


                <div class="cb-detail">43-1 (<a href="http://www.cricbuzz.com/profiles/8233/soumya-sarkar" title="View profile of Soumya Sarkar" class="cb-text-link">Soumya Sarkar</a>, 20.1),&nbsp;61-2 (<a href="http://www.cricbuzz.com/profiles/8253/taijul-islam" title="View profile of Taijul Islam" class="cb-text-link">Taijul Islam</a>, 27.1),&nbsp;67-3 (<a href="http://www.cricbuzz.com/profiles/1583/imrul-kayes" title="View profile of Imrul Kayes" class="cb-text-link">Imrul Kayes</a>, 33.2),&nbsp;135-4 (<a href="http://www.cricbuzz.com/profiles/612/tamim-iqbal" title="View profile of Tamim Iqbal" class="cb-text-link">Tamim Iqbal</a>, 52.1),&nbsp;143-5 (<a href="http://www.cricbuzz.com/profiles/544/shakib-al-hasan" title="View profile of Shakib Al Hasan" class="cb-text-link">Shakib Al Hasan</a>, 55.5)</div>



                <div class="cb-bg-gray">
                    <div class="col-sm-5 text-bold">Bowler</div>

                    <div class="col-sm-1">O</div>
                    <div class="col-sm-1">M</div>
                    <div class="col-sm-1">R</div>
                    <div class="col-sm-1"><b>W</b></div>
                    <div class="col-sm-1">NB</div>
                    <div class="col-sm-1">WD</div>
                    <div class="col-sm-1">ECO</div>
                </div>


                <div class="cb-player">
                    <div class="col-sm-5 text-bold"><input type="text" value="Josh Hazelwood"></div>
                    <div class="col-sm-1 text-bold"><span class="text-gray"><input type="text" value="4.1" /></span></div>
                    <div class="col-sm-1"><input type="text" value="2" /></div>
                    <div class="col-sm-1"><input type="text" value="3" /></div>
                    <div class="col-sm-1"><b><input type="text" value="0" /></b></div>
                    <div class="col-sm-1"><input type="text" value="0" /></div>
                    <div class="col-sm-1"><input type="text" value="0" /></div>
                    <div class="col-sm-1"><input type="text" value="4.1" /></div>
                </div>

                <div class="cb-player">
                    <div class="col-sm-5 text-bold"><input type="text" value="Nathon Lyon"></div>
                    <div class="col-sm-1 text-bold"><span class="text-gray"><input type="text" value="14" /></span></div>
                    <div class="col-sm-1"><input type="text" value="2" /></div>
                    <div class="col-sm-1"><input type="text" value="3" /></div>
                    <div class="col-sm-1"><b><input type="text" value="3" /></b></div>
                    <div class="col-sm-1"><input type="text" value="0" /></div>
                    <div class="col-sm-1"><input type="text" value="0" /></div>
                    <div class="col-sm-1"><input type="text" value="4.1" /></div>
                </div>

                <div class="cb-player">
                    <div class="col-sm-5 text-bold"><input type="text" value="Pat Cummins"></div>
                    <div class="col-sm-1 text-bold"><span class="text-gray"><input type="text" value="4.1" /></span></div>
                    <div class="col-sm-1"><input type="text" value="2" /></div>
                    <div class="col-sm-1"><input type="text" value="3" /></div>
                    <div class="col-sm-1"><b><input type="text" value="0" /></b></div>
                    <div class="col-sm-1"><input type="text" value="0" /></div>
                    <div class="col-sm-1"><input type="text" value="0" /></div>
                    <div class="col-sm-1"><input type="text" value="4.1" /></div>
                </div>


            </div>


        </div>


        <!-- Right Container Part Start Here -->
        <div class="containerRight col-md-3">
            <div class="blueBox containerBox">
                <h3>Live Score</h3>
                <div class="blueBoxTxt">
                    <p><span>May 19-22, 2017 -</span> <br>at Sophia Gardens, Cardiff</p>
                    <p class="score">Nottinghamshire <strong>448</strong> <br>Glamorgan <strong>187 (62.3 ov)</strong></p>
                    <p>Stumps - <br><span class="score">Glamorgan trail by 261 runs with 0 <br>wickets remaining in the 1st innings</span></p>
                </div>
                <div class="blueBoxBottom"><a href="#">Full Scoreboard</a></div>
            </div>

            <div class="peopleList containerBox">
                <h3>People You May Know</h3>
                <ul>
                    <li>
                        <a href="#">
                            <img src="images/user-pic.jpg" class="peoplePic" alt="">
                            <h5>Francine Smith<span>8 Friends in common</span></h5>
                            <span class="rightIcon"><img src="images/people-icon.png" alt=""></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/user-pic.jpg" class="peoplePic" alt="">
                            <h5>Hugh Wilson<span>8 Friends in common</span></h5>
                            <span class="rightIcon"><img src="images/people-icon.png" alt=""></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/user-pic.jpg" class="peoplePic" alt="">
                            <h5>Karen Masters<span>8 Friends in common</span></h5>
                            <span class="rightIcon"><img src="images/people-icon.png" alt=""></span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="newsBox containerBox">
                <h3>Latest News</h3>
                <div class="newsDesc">
                    <span class="newsTime">9:00 am</span>
                    <h4>Breakfast at the agency</h4>
                    <p>Hi Guys! I propose to go a little earlier at the agency to have breakfast and talk a little more about the new design project we have been working on. Cheers!</p>
                    <span class="newsLocation">Faridabad</span>
                </div>
            </div>
        </div>
        <!-- Right Container Part End Here -->

    </div>
</div>
<!-- Container Part End Here -->